body{
    background: #efefef;
    margin:0px;
}
#w1{
    color:red;
    -webkit-transition: 2s;
    transition: 2s;
    margin-right: 20px;
}

#w2{

}
.d1{
    width: 960px;
    height: 200px;
    background:green;
 
}
.d2{
    width: 50%;
    height: 200px;
    background:orange;
  
}
#w1:hover{
    color:black;
    -webkit-transition: 2s;
    transition: 2s;
}
#yellow {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    -webkit-transition: 2s;
    transition: 2s;
}

#yellow:hover {
    -webkit-transform: rotateZ(90deg); /* Safari */
    transform: rotateZ(90deg); /* Standard syntax */
-webkit-transition: 2s;
    transition: 2s;
}